{% extends "labs/base.html" %}

{% block content %}

<h2>Наші товари</h2>

<div class="products">

{% for product in products %}
<a href="{% url 'product' product.id %}" class="card-link">
<div class="shoe-card">

  <div class="shoe-img">
    {% if product.image %}
      <img src="{{ product.image.url }}">
    {% endif %}
  </div>

  <div class="shoe-text">
    <span class="shoe-title">
        {{ product.name }}
    </span>

    <span class="shoe-subtitle">
        {{ product.brand }}
    </span>

    <span class="shoe-price">
        {{ product.price }} грн
    </span>
  </div>

</div>
</a>
{% empty %}
<p>Товарів немає</p>
{% endfor %}

</div>

{% endblock %}