{% extends "labs/base.html" %}

{% block content %}

<div class="main-layout">

    <aside class="sidebar">

        <h3>Категорії</h3>

        <a href="{% url 'home' %}" class="sidebar-link">
            Всі товари
        </a>

        {% for category in categories %}
            <a href="{% url 'home' %}?category={{ category.id }}" class="sidebar-link">
                {{ category.name }}
            </a>
        {% endfor %}

    </aside>

    <div class="main-content">

        <div class="home-title">
            <h2>Наші товари</h2>
        </div>

        <div class="products">

            {% for product in products %}

            <a href="{% url 'product' product.id %}" class="card-link">

                <div class="shoe-card">

                    <div class="shoe-img">

                        {% if product.image %}
                            <img src="{{ product.image.url }}">
                        {% endif %}

                    </div>

                    <div class="shoe-text">

                        <span class="shoe-title">
                            {{ product.name }}
                        </span>

                        <span class="shoe-subtitle">
                            {{ product.brand }}
                        </span>

                        <span class="shoe-price">
                            {{ product.price }} грн
                        </span>

                    </div>

                </div>

            </a>

            {% empty %}

            <p>Товарів немає</p>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}