{% extends "labs/base.html" %}
{% block content %}

<div class="product-page">

<div class="tabs">
    <a href="#overview" class="active-tab">Огляд</a>
    <a href="#reviews" class="tab-link">Відгуки</a>
</div>
    <div class="product-container" id="overview">

        <div class="product-left">
            <img src="{{ product.image.url }}">
        </div>

        <div class="product-right">

            <h1 class="product-name">{{ product.name }}</h1>

            <div class="status">В наявності</div>

            <div class="price-block">
                <div class="price">{{ product.price }} грн</div>
                <div class="credit">Від 500 грн/міс</div>
            </div>

            {% if product.id in cart %}

            <button class="buy-btn in-cart-btn" onclick="openCart()">
            В кошику
            </button>

            {% else %}

            <a href="{% url 'add_to_cart' product.id %}"
               class="buy-btn"
               onclick="openCart()">

                Купити

            </a>

            {% endif %}
            <a href="#" class="credit-link">Купити в кредит</a>

            <div class="short-info">
                {{ product.category }} / {{ product.brand }}
            </div>

            <div class="meta">
                <div>✔ Гарантія 12 міс</div>
                <div>↩ Повернення 14 днів</div>
            </div>
        </div>

    </div>
</div>

<div class="reviews-block" id="reviews">

    <div class="reviews-header">
        <h2>
            Відгуки про
            <span>{{ product.name }}</span>
        </h2>
    </div>

    <div class="reviews-summary">

        <div class="rating-box">

            <div class="rating-big">
                {{ average_rating }}/5
            </div>

            <div class="rating-small">
                оцінка користувачів
            </div>

        </div>
    </div>

    <div class="reviews-actions">

        <button class="review-btn primary" onclick="openReviewModal()">
            ЗАЛИШИТИ ВІДГУК
        </button>

    </div>

    <div class="reviews-list">

        {% for review in reviews %}

        <div class="review-card">

            <div class="review-top">

                <strong>{{ review.name }}</strong>

                <span>{{ review.rating }}/5</span>

            </div>

            <p>{{ review.text }}</p>

        </div>

        {% empty %}

        <p>Відгуків ще немає</p>

        {% endfor %}

    </div>

</div>
<div class="modal-overlay" id="reviewModal">

    <div class="modal-box">

        <span class="close-modal" onclick="closeReviewModal()">
            &times;
        </span>

        <h2>Залишити відгук</h2>

        <form method="post" action="{% url 'add_review' product.id %}">

            {% csrf_token %}

            <input type="text" name="name" placeholder="Ваше ім’я" required>

            <textarea name="text" placeholder="Ваш відгук" required></textarea>

            <select name="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>

            <button type="submit">
                Відправити
            </button>

        </form>

    </div>

</div>
{% endblock %}